
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0F172A;
    font-family: "Inter";
    background-repeat: no-repeat;

}

.d-flex{
    display: flex;
}

.fd-column{
    flex-direction: column;
}

.fd-row{
    flex-direction: row;
}

.d-grid{
    display: grid;
}

.al-itens-center{
    align-items: center;
}

.al-itens-start{
    align-items: flex-start;
}

.al-itens-end{
    align-items: flex-end;
}
